/****************************************************
GENERAL STYLES
****************************************************/
html { 
  	background: #000; 
}
body {
	background: #000; 
	height:100vh;
}
.container {
	background-color: rgba(0, 0, 0, 0.5);
	max-width: 1000px;
	height:100vh;
	color: #fff;
	padding:50px;
}
h1 {
	font-weight: 100;
	letter-spacing: 2px;
}
p {
	font-size: 18px;
	font-weight: 100;
	letter-spacing: 1px;
}
/****************************************************
BOOSTRAP 4 OVERRIDES
****************************************************/
.btn {
	border:2px solid;
	padding:15px 25px;
	letter-spacing: 1px;
}
.btn-warning-outline {
	color: #e3c06b;
    background-color: transparent;
    border-color: #e3c06b;
}
.btn-warning-outline.active, .btn-warning-outline.focus, .btn-warning-outline:active, .btn-warning-outline:focus, .btn-warning-outline:hover, .open>.btn-warning-outline.dropdown-toggle {
	border-color: #e3c06b;
	background: #e3c06b;
}
.btn-warning-outline.btn-alt {
    background-color: rgba(227, 192, 107, 0.3);
}
.btn-group {
	width: 100%;
}
.btn-group .btn {
	width: 33.33%;
	margin-bottom:30px;
}
.form-control {
	height:55px;
	background: #000;
	border:2px solid #e3c06b;
	color: #e3c06b;
	margin-bottom: 30px;
}
.form-control::-webkit-input-placeholder {
   color: #e3c06b;
}
.form-control:-moz-placeholder { /* Firefox 18- */
   color: #e3c06b;  
}
.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #e3c06b;  
}
.form-control:-ms-input-placeholder {  
   color: #e3c06b;  
}
/****************************************************
DRUNK METER
****************************************************/
.drunk-meter {
	padding: 50px;
	position: relative;
	height: 550px;
}
.drunk-meter .meter-fill {
	background: #e3c06b;
	height:0px;
	width:125px;
	bottom: 0;
	display: block;
	position: absolute;
	-webkit-transition: all 1.2s ease-in-out;
	-moz-transition: all 1.2s ease-in-out;
	-o-transition: all 1.2s ease-in-out;
	transition: all 1.2s ease-in-out;
}
.drunk-meter img.bottle-outline {
	height: 500px;
	position: absolute;
	z-index: 100;
}
.drunk-line {
	border-top:4px solid #fff;
	padding-left: 20px;
	height:200px;
	width:125px;
	bottom: 0;
	display: block;
	position: absolute;
	font-size: 10px;
	letter-spacing: 1px;
	font-weight: bold;
	z-index: 90;
}
.bac {
	bottom: 17px;
	display: block;
	width: 115px;
	position: absolute;
	color: #fff;
	text-align: right;
	font-size: 24px;
	z-index: 90;
	line-height: 24px;
}

/****************************************************
STAGE
****************************************************/
.stage {
	padding: 50px;
}