<!-- info.html -->
<div class="row">
	<div class="col-md-3 drunk-meter">
		<img src="resources/img/BottleOutline.png" class="bottle-outline"/>
		<div class="meter-fill" style="height:400px;"></div><!--END OF METER RATING-->	
	</div><!--END OF COL-->
	<div class="col-md-8 stage">
		<div class="row">
    		<div class="col-md-12">
    			<h1>Tell Me About Yourself</h1>
    		</div><!--END OF COL-->
    	</div><!--END OF ROW-->
    	<div class="row">
    		<div class="col-md-12">
    			<p>{{ message }}</p>
    		</div><!--END OF COL-->
    	</div><!--END OF ROW-->
        <div class="row">
    		<div class="col-md-12">
    			<form name="newInfoForm" id="newInfoForm">
					<div class="row">
						<div class="col-sm-12">
							<input type="text" class="form-control" name="drinkerNameInput" ng-model="drinkerNameInput" placeholder="Name">
						</div><!--END OF COL-->
					</div><!--END OF ROW-->
					<div class="row">
						<div class="col-sm-6">
							<select class="form-control" name="drinkerSexInput" ng-model="drinkerSexInput">
								<option value="" disabled selected>Sex</option>
								<option>M</option>
								<option>F</option>
							</select>
						</div><!--END OF COL-->
						<div class="col-sm-6">
							<input type="text" class="form-control" name="drinkerAgeInput" ng-model="drinkerAgeInput" placeholder="Age">
						</div><!--END OF COL-->
					</div><!--END OF ROW-->
					<div class="row">
						<div class="col-sm-6">
							<input type="text" class="form-control" name="drinkerHeightInput" ng-model="drinkerHeightInput" placeholder="Height">
						</div><!--END OF COL-->
						<div class="col-sm-6">
							<input type="text" class="form-control" name="drinkerWeightInput" ng-model="drinkerWeightInput" placeholder="Weight">
						</div><!--END OF COL-->
					</div><!--END OF ROW-->
					<div class="row">
						<div class="col-sm-12">
							<select class="form-control" name="drinkerDrinkInput" ng-model="drinkerDrinkInput">
								<option value="" disabled selected>Drink</option>
								<option>Beer</option>
								<option>Wine</option>
								<option>Liquor</option>
							</select>
						</div><!--END OF COL-->
					</div><!--END OF ROW-->
					<button class="btn btn-warning-outline" type="submit" ng-click="addInfo(drinkerNameInput,drinkerSexInput,drinkerAgeInput,drinkerHeightInput,drinkerWeightInput,drinkerDrinkInput);drinkerNameInput = '';drinkerSexInput = '';drinkerAgeInput = '';drinkerHeightInput = '';drinkerWeightInput = '';drinkerDrinkInput = '';"><i class="glyphicon glyphicon-plus"></i>&nbsp;Start Drinking</button>
				</form>
    		</div><!--END OF COL-->
    	</div><!--END OF ROW-->
	</div><!--END OF COL-->
</div><!--END OF ROW-->